{% extends "./base.html" %}
{% load i18n %}

{% block title %}{% trans "Password change form" %}{% endblock %}

{% block form %}
    {% url 'password_change' as url %}
    {% include "form_include.html" with action=url no_button=True form_id="change-password-form" %}
{% endblock %}

{% block card_header_inner %}
    <button type="submit" form="change-password-form" class="btn btn-primary hide-if-from-top">{% trans "Submit" %}</button>
{% endblock %}

{% block form_action %}
    <button type="submit" form="change-password-form" class="btn btn-primary">{% trans "Submit" %}</button>
{% endblock %}
