{% extends "./base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset form" %}{% endblock %}

{% block form %}
    <p>{% trans "Please enter your email so we can send you the password reset instructions." %}</p>
    {% url 'password_reset' as url %}
    {% include "form_include.html" with action=url no_button=True form_id="password-reset-form" %}
{% endblock %}

{% block card_header_inner %}
    <button type="submit" form="password-reset-form" class="btn btn-primary hide-if-from-top">{% trans "Submit" %}</button>
{% endblock %}

{% block form_action %}
    <button type="submit" form="password-reset-form" class="btn btn-primary">Submit</button>
{% endblock %}
