{% extends "./base.html" %}
{% load i18n %}


{% if validlink %}
    {% block title %}{% trans "New password form" %}{% endblock %}
    {% block form %}
        {% url 'password_reset_confirm' as url %}
        {% include "form_include.html" with action=url %}
    {% endblock %}
{% endif %}

{% block content %}
    {% if validlink %}
        {{ block.super }}
    {% else %}
        <div class="callout callout-warning">
            {% trans "Password reset failed." %}
            <hr />
            <a href="{% url "password_reset" %}">Ask again</a>
        </div>
    {% endif %}
{% endblock %}
