{% extends "./base.html" %}
{% load i18n %}


{% if validlink %}
    {% block title %}{% trans "New password form" %}{% endblock %}
    {% block form %}
        {% include "form_include.html" with no_button=True form_id="password-reset-confirm-form" %}
    {% endblock %}
    {% block card_header_inner %}
        <button type="submit" form="password-reset-confirm-form" class="btn btn-primary hide-if-from-top">Submit</button>
    {% endblock %}
    {% block form_action %}
        <button type="submit" form="password-reset-confirm-form" class="btn btn-primary">Submit</button>
    {% endblock %}
{% endif %}

{% block content %}
    {% if validlink %}
        {{ block.super }}
    {% else %}
        <div class="callout callout-warning">
            {% trans "Password reset failed." %}
            <hr />
            <a href="{% url "password_reset" %}">Ask again</a>
        </div>
    {% endif %}
{% endblock %}
