:root {
    --main-amount-size: 3rem;
}
.category-title a {
    color: inherit;
    text-decoration: none;
}
.main-amount + details .callout {
    max-width: 40em;
    min-width: 20em;
}
.amounts-details {
    min-width: 15em;
}
ul.nav.category-forms-tabs {
    --bs-nav-link-padding-x: 0.5rem;
}
