.quantities-list-container {

    max-width: 50rem !important;

    > table {
        height: 1px; /* hack to have elements with height 100% in cells */
        border-radius: var(--bs-card-border-radius);

        td {
            height: 100%;
            &:first-child { width: 0;}
        }

        .qtt-value {
            background: var(--bs-gray-200) !important;
            color: var(--bs-gray-600);
        }
    }

}
