.mt--1 { margin-top: -.25rem !important; }
.mt--2 { margin-top: -.5rem !important; }
.mt--3 { margin-top: -1rem !important; }
.mb--1 { margin-bottom: -.25rem !important; }
.mb--2 { margin-bottom: -.5rem !important; }
.mb--3 { margin-bottom: -1rem !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.w-initial { width: initial !important; }
.dropdown-menu-center {
    right: auto;
    left: 50% !important;
    transform: translate(-50%, 0);
}
.smaller { font-size: smaller; }

.hstack-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.vstack-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.opacity-10 { opacity: 0.1; }
.opacity-5 { opacity: 0.05; }


.w-05 { width: 0.5rem !important; }
.h-05 { height: 0.5rem !important; }
@for $i from 1 through 15 {
    .w-#{$i} { width: #{$i}rem !important; }
    .h-#{$i} { height: #{$i}rem !important; }
    .w-min-#{$i} { min-width: #{$i}em !important; }
    .w-min-r#{$i} { min-width: #{$i}rem !important; }
    .w-max-#{$i} { max-width: #{$i}em !important; }
    .w-max-r#{$i} { max-width: #{$i}rem !important; }
}
.w-min-r20 { min-width: 20rem !important; }
.w-max-r20 { max-width: 20rem !important; }
.w-min-r25 { min-width: 25rem !important; }
.w-max-r25 { max-width: 25rem !important; }
.w-min-r30 { min-width: 30rem !important; }
.w-max-r30 { max-width: 30rem !important; }
.w-min-r50 { min-width: 50rem !important; }
.w-max-r50 { max-width: 50rem !important; }

.bg-white-5 { background-color: rgba(255, 255, 255, 0.05); }
.bg-white-10 { background-color: rgba(255, 255, 255, 0.1); }
.bg-white-25 { background-color: rgba(255, 255, 255, 0.2); }
.bg-white-50 { background-color: rgba(255, 255, 255, 0.5); }
.bg-white-75 { background-color: rgba(255, 255, 255, 0.75); }
.bg-white-90 { background-color: rgba(255, 255, 255, 0.9); }

.bg-black-5 { background-color: rgba(0, 0, 0, 0.05); }
.bg-black-10 { background-color: rgba(0, 0, 0, 0.1); }
.bg-black-25 { background-color: rgba(0, 0, 0, 0.2); }
.bg-black-50 { background-color: rgba(0, 0, 0, 0.5); }
.bg-black-75 { background-color: rgba(0, 0, 0, 0.75); }
.bg-black-90 { background-color: rgba(0, 0, 0, 0.9); }

.btn-round {
    border-radius: 50% !important;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
