/***********/
/* SELECT2 */
/***********/

.input-group > .form-select, .input-group .select2-container--bootstrap-5 .select2-selection--single {
    /* just to change the color of the arrow to the be same as the border (the stroke color) */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%236c757d' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search {
    padding: var(--bs-form-control-spacer-y) var(--bs-form-control-spacer-x);
}

.select2-container--bootstrap-5 .select2-selection,
.select2-container--bootstrap-5 .select2-dropdown,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    background-color: var(--bs-form-control-bg);
    color: var(--bs-form-control-color);

    font-size: var(--bs-form-control-font-size);
    line-height: var(--bs-form-control-line-height);

    border-style: solid;
    border-width: var(--bs-form-control-border-width);
    border-color: var(--bs-form-control-border-color);
    border-radius: var(--bs-form-control-border-radius);

    padding: var(--bs-form-control-spacer-y) var(--bs-form-control-spacer-x);
    min-height: calc(var(--bs-form-control-line-height) * 1em + 2 * var(--bs-form-control-spacer-y) + 2 * var(--bs-form-control-border-width));
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
    background-color: var(--bs-primary);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: var(--bs-form-control-bg);
    color: var(--bs-form-control-color);
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: var(--bs-form-control-color);
}

.select2-container--bootstrap-5 .select2-dropdown.select2-dropdown-sm {
    --bs-form-control-spacer-x: .5rem;
    --bs-form-control-spacer-y: .25rem;
    --bs-form-control-font-size: .875rem;
    --bs-form-control-border-radius: .25rem;
}
