.gauge-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-warning);
}

.gauge-container {
    --default-color: var(--bs-muted-color);
    --separator-color: var(--bs-color);
    --kind-used-color: var(--bs-info);
    --kind-overflow-color: var(--bs-danger);
    --kind-goal-overflow-color: var(--bs-success);
    --kind-left-color: var(--bs-color);
    --kind-warning-color: var(--bs-warning);

    &.gauge-fake {
        width: 1px;
        overflow: hidden;
        visibility: hidden;
    }

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    > div {
        width: 100%;
    }
    .gauge-text {
        display: flex;
        justify-content: space-between;
        color: var(--bs-muted-color);
        gap: 1rem;
        .gauge-text-used { color: var(--kind-used-color); }
        .gauge-text-overflow { color: var(--kind-overflow-color); }
        .gauge-text-left { color: var(--kind-left-color); }
        .gauge-text-warning { color: var(--kind-warning-color); }
        > span:last-child:not(:first-child) {
            text-align: right;
        }
        .card & {
            font-size: var(--fs-5);
            .gauge-text-side-name > span {
                display: none;
            }
        }
    }
    .gauge-text-top { order: 1; }
    .gauge-bars { order: 2; }
    .gauge-text-bottom { order: 3; }

    .gauge-bars {
        --gauge-height: 0.5rem;
        --gauge-radius: calc(0.5rem / 2);
        height: var(--gauge-height);
        display: flex;
        align-items: stretch;
        background: var(--default-color);
        border-radius: var(--gauge-radius);
        > div {
            width: var(--gauge-side-width);
            display: flex;
            align-items: stretch;
            > span {
                width: var(--gauge-part-width);
                &.gauge-bar-used { background: var(--kind-used-color); }
                &.gauge-bar-overflow { background: var(--kind-overflow-color); }
                &.gauge-bar-left { background: var(--kind-left-color); }
                &.gauge-bar-warning { background: var(--kind-warning-color); }
            }
            &:first-child {
                border-top-left-radius: var(--gauge-radius);
                border-bottom-left-radius: var(--gauge-radius);
                overflow: hidden;
                > span:first-child {
                    border-top-left-radius: var(--gauge-radius);
                    border-bottom-left-radius: var(--gauge-radius);
                }
                &:not(:last-child) {
                    justify-content: flex-end;
                }
            }
            &:last-child {
                border-top-right-radius: var(--gauge-radius);
                border-bottom-right-radius: var(--gauge-radius);
                > span:last-child {
                    border-top-right-radius: var(--gauge-radius);
                    border-bottom-right-radius: var(--gauge-radius);
                }
                &:not(:first-child):before {
                    content: "";
                    display: block;
                    height: calc(2 * var(--gauge-height));
                    width: 1px;
                    position: relative;
                    top: calc(var(--gauge-height) / -2);
                    border-right: 2px solid var(--separator-color);;
                    border-radius: 1px;
                }
            }
        }
    }

    &.gauge-goal-mode {
        .gauge-text-overflow {
            color: var(--kind-goal-overflow-color) !important;
        }
        .gauge-bar-overflow {
            background: var(--kind-goal-overflow-color) !important;
        }
    }

}


.quick-access-container {
    --bs-form-control-border-width: 0px;
    padding-inline: 0;
    .quick-access-search {
        margin-inline: calc(var(--bs-card-spacer-x) + var(--bs-form-control-outline-width));
        input:not(:focus) {
            box-shadow: 0 0 0 var(--bs-form-control-outline-width) var(--bs-form-control-focus-bg);
        }
    }
    & > ul, & > ul ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        --indent: 1.25rem;
        --name-height: var(--fs-2);
        --ancestors-height: var(--fs-4);
        --line-height-selected: 1.5;

        li {
            a {
                font-size: var(--name-height);
                min-height: calc(2 * var(--name-height));
                padding-right: var(--bs-card-spacer-x);
                padding-left: calc(var(--bs-card-spacer-x) + var(--level) * var(--indent));
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            .category-ancestors {
                color: var(--bs-muted-color);
                font-size: var(--ancestors-height);
                line-height: var(--line-height-selected);
                display: none;
            }
            .category-counts {
                color: var(--bs-color);
            }
        }
    }
    &.type-ahead-has-hidden li {
        &.type-ahead-hidden {
            display: none;
        }
        &.has_ancestors {
            .category-name {
                line-height: var(--line-height-selected);
            }
            .category-ancestors {
                display: unset;
            }
        }
        &:not(.has_ancestors) {
            a {
                min-height: calc(var(--line-height-selected) * (var(--name-height) + var(--ancestors-height)));
            }
        }
    }
}
