:root {
    --drowpdown-shadow: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.7));
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--callout-border, var(--bs-gray-300));

    &-info {
        --callout-bg: rgba(var(--bs-info-rgb), .075);
        --callout-border: rgba(var(--bs-info-rgb), .5);
    }
    &-error, &-danger {
        --callout-bg: rgba(var(--bs-danger-rgb), .075);
        --callout-border: rgba(var(--bs-danger-rgb), .5);
    }
    &-warning {
        --callout-bg: rgba(var(--bs-warning-rgb), .075);
        --callout-border: rgba(var(--bs-warning-rgb), .5);
    }
    &-success {
        --callout-bg: rgba(var(--bs-success-rgb), .075);
        --callout-border: rgba(var(--bs-success-rgb), .5);
    }
    a { color: inherit; }
}

details {
    --animation-duration: .2s;
    --animation-timing-function: ease-in-out;

    &.no-marker > summary {
        list-style: none;
        &::-webkit-details-marker {
            display: none;
        }
    }

    &.as-dropdown {
        > .details-dropdown {
            position: absolute;
            filter: var(--drowpdown-shadow);
            height: auto;
            left: 50% !important;
            right: auto;
            transform: translate(-50%, 0);
            z-index: var(--zindex, 5);
            min-width: calc(var(--card-item-size) - var(--bs-card-spacer-x));
            .card & {
                width: calc(var(--card-item-size) - var(--bs-card-spacer-x));
            }
        }
        > .card {
            &.details-on-right {
                right: 0;
                left: auto !important;
                transform: translate(0, 0);
            }
            &.large-details {
                --bs-card-spacer: var(--bs-spacer-4);
                width: calc(100% - var(--bs-card-spacer-x));
                min-width: var(--card-item-size);
                max-width: 50rem;
                z-index: 15;
                position: fixed;
                max-height: calc(100vh);
                background: var(--bs-body-bg);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                top: 0;
                transform: translate(-50%, -100%);
                @media (pointer: coarse) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: var(--bs-card-border-radius);
                    border-top-right-radius: var(--bs-card-border-radius);
                    bottom: 0;
                    top: unset;
                    transform: translate(-50%, 100%);
                }
                transition: transform var(--animation-duration) var(--animation-timing-function);
                @media (prefers-reduced-motion: reduce) { transition: none; }
                > .card-header, > .card-footer {
                    padding: var(--bs-spacer-3);
                    padding-bottom: var(--bs-spacer-2);
                    background: none;
                    .card-title {
                        font-size: var(--fs-2);
                    }
                }
                .hide-if-from-top { display: none; }
                @media (pointer: coarse) {
                    .hide-if-from-top { display: block; }
                    > .card-footer { display: none; }
                }

                > .card-body {
                    filter: var(--drowpdown-shadow);
                    margin-inline: var(--bs-spacer-2);
                    background: var(--bs-card-bg);
                    border-radius: calc(var(--bs-card-inner-border-radius) - 1px);
                    overflow-y: auto;
                    overscroll-behavior: contain;
                    @media (pointer: coarse) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
        &[open] {
            > .card {
                &.large-details {
                    transform: translate(-50%, 0);
                }
            }
        }

        &.with-backdrop {
            > summary:before {
                content: "";
                position: fixed;
                inset: -100vh -100vw -100vh -100vw;
                background-color: #000;
                pointer-events: none;
                opacity: 0;
                z-index: calc(var(--zindex, 5) - 1);
                transition: opacity var(--animation-duration) var(--animation-timing-function);
                @media (prefers-reduced-motion: reduce) { transition: none; }
            }
            &[open] > summary:before {
                pointer-events: auto;
                opacity: 0.75;
            }
        }

    }

    &[open] > summary > .details-toggle > .details-toggle-open,
    &[open] > summary > * > .details-toggle > .details-toggle-open,
    &:not([open]) > summary > .details-toggle > .details-toggle-close,
    &:not([open]) > summary > * > .details-toggle > .details-toggle-close {
        display: none;
    }

}

textarea.auto-reduce:not(:focus){
    height: calc(1.5em + .5rem + 2px);
}
