:root {
    --dropdown-default-size: 20rem;
}

body > nav:first-of-type {
    > .container-fluid {
        column-gap: 1rem;
        row-gap: 0.5rem;
    }
    #user_authenticated_dropdown ~ .dropdown-menu {
        position: absolute;
    }
}


#content > .card {
    max-width: 50rem;
    margin: auto;
    > .card.small-width {
        max-width: 25rem;
    }
}

.asteriskField {
    display: none !important;
}

#date-interval-selector {
    + .dropdown-menu {
        width: max-content;
    }
}

#projects, #main-categories {
    gap: var(--bs-spacer-5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > .card {
        flex: 0 0 var(--card-item-size, 20rem);
        min-height: 8rem;
    }
}

#main-categories {
    --card-item-size: 14rem;
}
