{% load i18n static sass_tags core_utils %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Countastic{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0b23f4de3d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>

    <script src="{% static "core/js/element.scrollintoviewifneeded-polyfill.js" %}"></script>
    <link rel="stylesheet" href="{% sass_src "core/scss/bs-addons.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/bs-override.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/bs-extensions-override.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/main_components.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/components.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/main.scss" %}" />
    <link rel="stylesheet" href="{% sass_src "core/scss/theme.scss" %}" />
    {% block head_end %}{% endblock %}
</head>

<body>

    <nav class="container-fluid hstack-full gap-5 px-6 pt-1 mb-3">
        {% if main_object or request.path == home_url and user.is_authenticated %}
            <a class="w-2" href="{% if request.path != home_url %}{{ home_url }}{% if date_str %}?date={{ date_str }}{% endif %}{% else %}/{% endif %}">
                {% icon "house-blank" "solid" %}
            </a>
        {% else %}
            <a href="/">Countastic</a>
        {% endif %}

        {% if main_object or request.path == home_url and user.is_authenticated %}
            <div id="navbar-date-interval" class="hstack-full gap-4">
                {% if interval != "none" %}
                    <div class="nav-item flex-grow-0">
                        <a class="text-decoration-none nav-link d-inline" title="Previous {{ interval_name }}" href="{{ request.path }}?date={{ prev_date|date:"Y-m-d" }}&interval={{ interval }}">{% icon "chevron-left" "solid" %}</a>
                    </div>
                {% endif %}
                <details class="nav-item flex-shrink-1 no-marker as-dropdown with-backdrop">
                    <summary class="dropdown-toggle">{% interval_str date interval %}</summary>
                    <div class="card details-dropdown large-details force-from-top w-max-r25">
                        <div class="card-header hstack-full gap-3">
                            <span class="card-title">Date & interval picker</span>
                            <a href="{{ request.path }}?date={{ today|date:'Y-m-d' }}{% if project.interval %}&interval={{ project.interval }}{% endif %}">Set to {% if not project or not project.interval or project.interval == "none" %}current day{% else %}current {% with interval=project.interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}</a>
                        </div>
                        <form class="card-body vstack gap-4" action="{{ request.path }}" method="get" id="date-interval-picker">
                            <div class="hstack">
                                <label for="date-interval-picker_date" class="form-label w-13 m-0">Pick a date</label>
                                <input id="date-interval-picker_date" name="date" type="date" value="{{ current_date|date:'Y-m-d' }}" required pattern="\d{4}-\d{2}-\d{2}" class="form-control">
                            </div>
                            <div class="hstack">
                                <label for="date-interval-picker_interval" class="form-label w-13 m-0">And an interval</label>
                                <select id="date-interval-picker_interval" name="interval"  class="form-select" >
                                    {% for interval_choice in intervals %}
                                        <option value="{{ interval_choice.value }}" {% if not project and interval == interval_choice %} selected{% elif project and interval|default:project.interval == interval_choice %} selected{% endif %}>
                                            {{ interval_choice.unit_name|capfirst }}
                                            {% if project.interval == interval_choice %}<span class="text-muted"> (project default)</span>{% endif %}
                                        </option>
                                    {% endfor %}
                                    {% if not project %}
                                        <option value=""{% if not interval %} selected{% endif %}>
                                            Default by project
                                        </option>
                                    {% endif %}
                                </select>
                            </div>
                        </form>
                        <div class="card-footer hstack justify-content-end">
                            <button type="submit" form="date-interval-picker" class="btn btn-primary ">Apply</button>
                        </div>
                    </div>
                </details>
                {% if interval != "none" %}
                    <div class="nav-item flex-grow-0">
                        <a class="text-decoration-none nav-link d-inline" title="Next {{ interval_name }}" href="{{ request.path }}?date={{ next_date|date:"Y-m-d" }}&interval={{ interval }}">{% icon "chevron-right" "solid" %}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <details class="flex-grow-0 w-2 no-marker as-dropdown with-backdrop" id="navbar-content">
                <summary class="dropdown-toggle">
                    {% icon "user" "solid" %}
                </summary>
                <div class="card details-dropdown details-on-right w-12 w-min-r12 w-max-r12 p-3 gap-3 me-6">
                    <a class="text-decoration-none" href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                    <a class="text-decoration-none" href="{% url 'logout' %}">{% trans "Log out" %}</a>
                </div>
            </details>
        {% else %}
            <div class="justify-content-between" id="navbar-content">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item"><a class="nav-link px-2" href="{% url 'login' %}">{% trans "Log in" %}</a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="{% url 'django_registration_register' %}">{% trans "Register" %}</a></li>
                </ul>
            </div>
        {% endif %}
    </nav>

    {% if messages %}
        <div id="messages" class="container-fluid m-1 p-5 mt-0 pt-0">
            {% for message in messages %}
                <div class="callout callout-{{ message.level_tag }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block pre-content %}{% endblock %}


    <div id="content" class="container-fluid p-6 pt-0">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="mt-3">
    {% block footer %}
    {% endblock %}
    </div>

    <script type="text/javascript">
        // when a details element is opened, close the other ones having the same data-group attribute, if any
        // and make it visible
        document.addEventListener('toggle', ev => {
            if (ev.target.nodeName !== 'DETAILS' || !ev.target.open) { return; }
            const group = ev.target.getAttribute('data-group');
            if (group) {
                document.querySelectorAll('details[data-group="' + group + '"][open]').forEach(el => {
                    if (el !== ev.target) { el.open = false; }
                });
            }
            if (ev.target.classList.contains('scroll-into-view')) {
                const scroll_elt_selector = ev.target.getAttribute('data-scroll-into-view');
                setTimeout(() => (scroll_elt_selector ? ev.target.querySelector(scroll_elt_selector) : ev.target)?.scrollIntoViewIfNeeded(), 50)
            }
        }, true);
        // focus on the first input field when a details element with "focus-first-input" class is opened
        document.addEventListener('toggle', ev => {
            if (ev.target.nodeName === 'DETAILS' && ev.target.open && ev.target.classList.contains('focus-first-input')) {
                const container_selector = ev.target.getAttribute('data-focus-first-input-in');
                const input_selector = ev.target.getAttribute('data-focus-first-input') || 'input:not([type="hidden"]),select,textarea';
                (container_selector ? ev.target.querySelector(container_selector) : ev.target)?.querySelectorAll(input_selector)[0]?.focus();
            }
        }, true);
        // create select2 elements when details element is opened
        const create_select2 = select => {
            setTimeout(() => $(select).select2({theme: 'bootstrap-5', dropdownAutoWidth: true}), 500);
        };
        const create_all_select2 = elt => elt.querySelectorAll('select.autocomplete').forEach(elt => { create_select2(elt); })
        document.addEventListener('toggle', ev => { if (ev.target.nodeName === 'DETAILS') { create_all_select2(ev.target); } }, true);
        // create select2 elements on focus
        document.addEventListener("focusin", ev => {
            if (ev.target.nodeName !== 'SELECT' || !ev.target.classList.contains('autocomplete')) { return; }
            ev.preventDefault();
            ev.stopImmediatePropagation();
            create_select2(ev.target);
        });
        // typeahead
        const filter_quick_categories = (text, list, list_item_selector, text_selector) => {
            const filter = text.toLowerCase();
            let has_hidden = false;
            list.querySelectorAll(list_item_selector).forEach(item => {
                let hidden = !(text_selector ? item.querySelector(text_selector) : item).textContent.toLowerCase().includes(filter);
                item.style.display = hidden ? 'none' : '';
                has_hidden ||= hidden;
                item.classList.toggle('type-ahead-hidden', hidden);
            });
            list.classList.toggle('type-ahead-has-hidden', has_hidden);
        };
        const on_focusin = el => {
            if (el.nodeName !== 'INPUT' || !el.classList.contains('type-ahead')) { return; }
            let callback = ev => filter_quick_categories(el.value, document.querySelector(el.getAttribute('data-type-ahead-list')), el.getAttribute('data-type-ahead-list-item-selector'), el.getAttribute('data-type-ahead-text-selector'));
            el.addEventListener('keyup', callback);
            el.addEventListener('focusout', ev => ev.target.removeEventListener('keyup', callback), {once: true});
        };
        document.addEventListener('focusin', ev => on_focusin(ev.target));
        let typeahead_with_focus = document.querySelector('input.type-ahead:focus');
        if (typeahead_with_focus) { on_focusin(typeahead_with_focus); }
        document.body.classList.add('typehead-active');

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
