{% extends "base.html" %}
{% load i18n mptt_tags core_utils %}

{% block content %}
    <div class="d-flex flex-column gap-7 limited-full-width mb-7">

        {% block project_title %}
            <div>
                <div class="hstack gap-3 justify-content-center">
                    <span class="btn btn-round invisible"></span>
                    <span class="fs-1">{{ project.name }}</span>
                    <details class="no-marker as-dropdown focus-first-input with-backdrop" data-focus-first-input-in=".large-details > .card-body">
                        <summary class="text-muted p-2" title="Edit this project">
                            <span class="details-toggle fs-3">
                                {% icon "pencil" "solid" classes="fa-fw details-toggle-open" %}
                                {% icon "xmark" "solid" classes="fa-fw details-toggle-close" %}
                            </span>
                        </summary>
                        <div class="card details-dropdown large-details">
                            <div class="card-header hstack-full">
                                <span class="card-title">Edit project</span>
                                <div class="d-flex gap-4 align-items-baseline">
                                    <details class="no-marker as-dropdown with-backdrop">
                                        <summary class="text-warning text-decoration-underline">Delete…</summary>
                                        <div class="card details-dropdown details-on-right">
                                            <div class="card-body">
                                                {% project_delete_form project next_category=category %}
                                            </div>
                                        </div>
                                    </details>
                                    <button type="submit" form="edit-project-form" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                            <div class="card-body">
                                {% project_form project next_category=category css_id="edit-project-form" no_button=True %}
                            </div>
                        </div>
                    </details>
                </div>
                <div class="text-muted text-center">
                    {{ project.short_description }}
                    {% with interval=interval|interval %}({{ interval.unit_name }} view){% endwith %}
                </div>
            </div>
        {% endblock %}

        {% block project_header %}
        {% endblock project_header %}

    </div>

    <div class="d-flex flex-column gap-7">
        {% block project_content %}
        {% endblock project_content %}
    </div>


{% endblock content %}
