{% load core_utils crispy_forms_tags %}

<form class="d-flex flex-column" id="{% if form.instance.id %}edit-category-form{% else %}create-category-form{% endif %}" action="{% if form.instance.id %}{{ form.instance.get_edit_url }}{% else %}{% if form.instance.parent.level %}{{ form.instance.parent.get_add_category_url }}{% else %}{{ form.instance.parent.project.get_add_category_url }}{% endif %}{% endif %}?date={{ date_str }}&interval={{ interval }}{% if next %}&next={{ next }}{% endif %}" method="post">
    {% crispy form form.helper %}
</form>
