{% load i18n sass_tags mptt_tags core_utils %}
<div class="card details-dropdown large-details force-from-top">
    <div class="card-header">
        <a class="text-decoration-none" href="{{ project|get_absolute_or_quantities_url:request }}?date={{ date_str }}&interval={{ interval }}{% if "quantities" in request.path and not with_children %}&with-children=0{% endif %}&open-quick-access={{ project.root_category.id }}" title="Back to project home">{{ project.name }}</a>
        {% for parent_category in category.get_ancestors %}
            {% if parent_category.parent_id %}
                <span class="small text-muted">{% icon_xs "chevron-right" "solid" %}</span>
                    <a class="text-decoration-none" href="{{ parent_category|get_absolute_or_quantities_url:request }}?date={{ date_str }}&interval={{ interval }}{% if "quantities" in request.path and not with_children %}&with-children=0{% endif %}&open-quick-access={{ parent_category.id }}">{{ parent_category.name }}</a>
            {% endif %}
        {% endfor %}
        {% if category.level %}
            <span class="small text-muted">{% icon_xs "chevron-right" "solid" %}</span>
            <a class="text-decoration-none" href="{{ category|get_absolute_or_quantities_url:request }}?date={{ date_str }}&interval={{ interval }}{% if "quantities" in request.path and not with_children %}&with-children=0{% endif %}">{{ category.name }}</a>
        {% endif %}
    </div>
    {% drilldown_tree_for_node category as category_tree all_descendants %}
    {% new_uuid as quick_access_uuid %}
    {% with category_tree|to_list as category_tree %}
        <div class="card-body quick-access-container vstack" id="quick-access-{{ quick_access_uuid }}">
            {% if category_tree|length > 10 %}
                <div class="mb-3 quick-access-search">
                    <input class="form-control type-ahead" data-type-ahead-list="#quick-access-{{ quick_access_uuid }}" data-type-ahead-list-item-selector="li" data-type-ahead-text-selector=".category-name" placeholder="Type to filter"{% if request.GET|dict_value:"open-quick-access" == category.id|to_string %} autofocus{% endif %}>
                </div>
            {% endif %}
            <ul>
            {% for subcategory in category_tree %}
                {% if subcategory.level > category.level %}
                    <li class="{% if subcategory.level > 1 %} has_ancestors{% endif %}">
                        <a class="text-decoration-none hstack-full gap-2" style="--level: {{ subcategory.level|sub:category.level|sub:1 }};" href="{{ subcategory|get_absolute_or_quantities_url:request }}?date={{ date_str }}&interval={{ interval }}{% if "quantities" in request.path and not with_children %}&with-children=0{% endif %}">
                            <span class="vstack-full align-items-start justify-content-center">
                                <span class="category-name text-truncate">{{ subcategory.name }}</span>
                                {% if subcategory.level > 1 %}
                                <span class="category-ancestors">
                                    In
                                    {% for parent_category in subcategory.get_ancestors %}
                                        {% if parent_category.level > 1 %}
                                            <span class="small text-muted">{% icon_xs "chevron-right" "solid" %}</span>
                                        {% endif %}
                                        {% if parent_category.level %}
                                            {{ parent_category.name }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% endif %}
                            </span>
                            <span class="category-counts fs-4 d-inline-flex">
                                {% with summed_quantities=project.summed_quantities|dict_value:subcategory %}
                                    <span class="{% if summed_quantities.goal_reached %}text-success{% elif summed_quantities.limit_exceeded %}text-danger{% endif %}">
                                        {{ summed_quantities.used }}
                                    </span>
                                    {% if summed_quantities.expected %}
                                        <span class="text-muted">/{{ summed_quantities.expected }}</span>
                                    {% endif %}
                                {% endwith %}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endwith %}
</div>
