{% load core_utils crispy_forms_tags %}
<div class="card details-dropdown category-forms fs-6 fw-normal">
    <div class="card-body">
        {% with siblings=category.get_siblings %}
        {% if siblings %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="{{ category.get_edit_url }}?date={{ date_str }}&interval={{ interval }}{% if next_category %}&next=category:{{ next_category.id }}{% endif %}" class="nav-link focus-first-input active scroll-into-view" id="category-tab-edit-{{ category.id }}-self" data-bs-toggle="tab" data-bs-target="#category-tab-content-edit-{{ category.id }}-self" type="button"
                            role="tab" aria-controls="category-tab-content-edit-{{ category.id }}-self" aria-selected="true">Edit category
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="{{ category.get_reorder_url }}?date={{ date_str }}&interval={{ interval }}{% if next_category %}&next=category:{{ next_category.id }}{% endif %}" class="nav-link focus-first-input" id="category-tab-edit-{{ category.id }}-order" data-bs-toggle="tab" data-bs-target="#category-tab-content-edit-{{ category.id }}-order" type="button"
                            role="tab" aria-controls="category-tab-content-edit-{{ category.id }}-order" aria-selected="true">Change position
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane active" id="category-tab-content-edit-{{ category.id }}-self" role="tabpanel" aria-labelledby="category-tab-edit-{{ category.id }}-self">
        {% endif %}

        {% category_form project=project category=category next_category=next_category %}
        <hr />
        {% category_delete_form category=category next_category=next_category %}

        {% if siblings %}
                </div>
                <div class="tab-pane" id="category-tab-content-edit-{{ category.id }}-order" role="tabpanel" aria-labelledby="category-tab-edit-{{ category.id }}-order">
                    {% category_reorder_form category=category next_category=next_category %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
</div>
