{% load crispy_forms_tags %}
<form{% if form_id %} id="{{ form_id }}"{% endif %} action="{{ action }}" method="post" class="{{ form_default_classes|default:"d-flex flex-column" }} {{ form_classes }}">
    {% csrf_token %}
    {% if form.with_helper %}
        {% crispy form form.helper %}
    {% else %}
        {{ form|crispy }}
    {% endif %}
    {% block additional_fields %}{% endblock %}
    {% if not no_button %}
        <button type="submit" class="btn btn-primary {{ submit_classes }}">{{ submit_text|default:"Submit" }}</button>
    {% endif %}
</form>
