{% extends "base.html" %}
{% load i18n sass_tags %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="m-0">Welcome on the Quantifier website</h5>
        </div>
        <div class="card-body">
            <div class="callout callout-info">
                <p>
                    This is an early release of the Quantifier project. Please note:
                </p>
                <ul class="mb-0">
                    <li>The name may change</li>
                    <li>The design is not here yet, at beast we have a layout</li>
                    <li>There is actually no text to guide you. Feel the adventure!</li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <p class="mb-0">Hi <strong>{{ user.username }}</strong>, you can oo <a href="{{ home_url }}">to your list of projects</a>.</p>
            {% else %}
                <p class="mb-0">Please <a href="{% url "login" %}">log in</a> or <a href="{% url "django_registration_register" %}">register</a>
                to continue.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
