{% extends "single_card_page_include.html" %}
{% load i18n sass_tags %}

{% block card_classes %}w-max-r50{% endblock %}

{% block card_title %}Welcome on the Countastic website{% endblock %}

{% block card_content %}
    <div class="callout callout-info">
        <p>
            This is an early release of the Countastic project. Please note:
        </p>
        <ul class="mb-0">
            <li>This home page has no real content yet</li>
            <li>There is actually no text to guide you. Feel the adventure!</li>
        </ul>
    </div>
    {% if user.is_authenticated %}
        <p class="mb-0">Hi <strong>{{ user.username }}</strong>, you can go <a href="{{ home_url }}">to your list of projects</a>.</p>
    {% else %}
        <p class="mb-0">Please <a href="{% url "login" %}">log in</a> or <a href="{% url "django_registration_register" %}">register</a>
        to continue.</p>
    {% endif %}

{% endblock %}
