{% extends "project_or_category_base.html" %}
{% load i18n mptt_tags core_utils %}

{% block head_end %}
    {{ block.super }}
    <style>
        .category-card-title a{
            color: inherit;
            text-decoration: none;
        }

        .main-category-container {
            padding: .5rem;
            min-height: 8em;
        }
        .main-category-container > .card {
            --bs-card-cap-padding-x: var(--bs-card-cap-padding-y);
            height: 100%;
            width: var(--card-item-size);
        }
        .main-category-container > .card > .card-header {
            min-height: 2em;
        }

        .main-category-container > .card > .card-body {
            position: relative;
            padding-bottom: 0.25rem;
        }
        .main-category-container > card > .card-body > .list-group {
            margin-bottom: calc(-1 * var(--bs-list-group-item-padding-y));
        }
        .main-category-container > card > .card-body > .list-group > li:first-child {
            border-top-width: var(--bs-list-group-border-width);
        }
        .main-category-container > card > .card-body > .list-group .list-group-item {
            position: initial;
        }
        .list-group-item.sub-category-item  {
            --bs-list-group-item-padding-y: 0.25rem;
        }
        .card-body > ul > .list-group-item.sub-category-item:first-child {
            border-top-width: var(--bs-list-group-border-width);

        }
        .list-group .list-group {
            padding-left: 1.5rem;
            margin-top: var(--bs-list-group-item-padding-y);
        }
        .list-group .list-group .list-group-item {
            padding-left: 0;
        }
        .list-group .list-group .list-group-item:first-child {
            border-top-width: var(--bs-list-group-border-width);
        }
        .list-group .list-group .list-group-item:last-child {
            border-bottom: 0;
        }
        .list-group-item.sub-category-item > details.sub-sub-categories > summary > span {
            position: relative;
        }
        .list-group-item.sub-category-item > details.sub-sub-categories > summary > .details-toggle {
            width: 1ex;
            display: inline-block;
            font-weight: normal;
            position: absolute;
            left: -1.3ex;
        }

        #main-categories .card-header .card.category-forms {
            margin-top: var(--bs-card-cap-padding-y);
        }
        #main-categories .card-body .card.category-forms {
            margin-top: var(--bs-list-group-item-padding-y);
        }

        #manage-quantities-button {
            width: 3.4rem;
            height: 3.4rem;
            background:  #f5f5f5;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    </style>
{% endblock %}

{% block content %}

    {{ block.super }}

    {% with summed_quantities=project.summed_quantities %}
        <div id="main-categories" class="d-flex flex-wrap justify-content-center">

        {% for category in categories %}
            <div class="main-category-container">
                <div class="card main-category">
                    <div class="card-header h5 text-muted d-flex justify-content-between align-items-center gap-2">
                        <span class="text-truncate category-card-title">
                            <a href="{{ category.get_absolute_url }}?date={{ date_str }}&interval={{ interval }}">
                                {{ category.name }}
                            </a>
                        </span>
                        <details class="no-marker as-dropdown category-forms-container focus-first-input scroll-into-view" data-group="category_forms" data-scroll-into-view=".card">
                            <summary class="d-flex gap-3 align-items-center" title="Click to add a quantity, a sub-category or edit/delete this category">
                                <span class="details-toggle">
                                    {% icon "circle-plus" classes="details-toggle-open" %}
                                    {% icon "circle-xmark" classes="details-toggle-close" %}
                                </span>
                            </summary>
                            {% include "category_forms_include.html" with category=category next_category=current_category %}
                        </details>
                    </div>
                    <div class="card-body">
                        <div class="text-end d-flex align-items-baseline fs-4 justify-content-center mb-2">
                            {% with summed=summed_quantities|dict_value:category %}
                                {% if summed.expected %}
                                    <span class="{% if summed.used > summed.expected %}{% if project.goal_mode %}text-success{% else %}text-danger{% endif %} fw-bold{% endif %}">{{summed.used }}</span><span class="text-muted small align-self-center ms-2">/</span><span class="text-muted small">{{ summed.expected }}</span>
                                {% else %}
                                    {{summed.used }}
                                {% endif %}
                            {% endwith %}
                        </div>
                        {% include "subcategoy_details.html" with category=category is_parent_category=True %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if current_category %}
            {% with summed=summed_quantities|dict_value:category %}
                {% if current_category.has_children %}
                    {% if summed.self_used or summed.self_exptected %}
                        {% if summed.self_used != summed.used or summed.self_expected != summed.expected %}
                            <div class="main-category-container">
                                <div class="card main-category">
                                    <div class="card-header h5 text-muted d-flex justify-content-between align-items-center gap-2">
                                        <span class="text-truncate category-card-title text-muted">
                                            (Not categorized)
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-end d-flex align-items-baseline fs-4 justify-content-center mb-2">
                                            {{summed.self_used }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% endif %}

        <div class="main-category-container">
            <div class="card main-category">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="category-card-title">
                        <details class="no-marker as-dropdown category-forms-container focus-first-input scroll-into-view" data-group="category_forms" data-scroll-into-view=".card-body">
                            <summary class="text-muted d-flex align-item align-items-center gap-2">
                                Add a category
                                <span class="details-toggle">
                                    {% icon "circle-plus" classes="details-toggle-open" %}
                                    {% icon "circle-xmark" classes="details-toggle-close" %}
                                </span>
                            </summary>
                            <div class="card details-dropdown category-forms fs-6 fw-normal">
                                <div class="card-body">
                                    {% if category %}
                                        {% category_form project=project parent_category=category next_category=category %}
                                    {% else %}
                                        {% category_form project=project %}
                                    {% endif %}
                                </div>
                            </div>
                        </details>
                    </h5>
                </div>
            </div>
        </div>

        </div>
    {% endwith %}

    {% if project.quick_add_quantities %}
        <datalist id="project-{{ project.pk }}-quick_add_quantities">
            {% for qtt in project.quick_add_quantities_as_list %}
                <option value="{{ qtt }}">
            {% endfor %}
        </datalist>
    {% endif %}

    <a class="text-muted fs-2 bottom-0 end-0 position-fixed rounded-circle m-3 d-flex justify-content-center align-items-center" title="List/edit/delete entered quantities" id="manage-quantities-button" href="{{ main_object.get_quantities_url }}?date={{ date_str }}&interval={{ interval }}">
        {% icon "square-list" classes="fa-fw" %}
    </a>

{% endblock %}
