{% load core_utils crispy_forms_tags %}

<div id="projects">
    {% for project in projects %}
        <div class="card vstack gap-5 p-5 justify-content-between">
            <div>
                {% if project.nb_categories > 1 %}
                    {% with summed_quantities=project.summed_quantities|dict_value:project.root_category %}
                        <div class="float-end w-min-3 text-center ms-4 fs-2 px-3 py-2 rounded-3 bg-white-5 {% if summed_quantities.goal_reached %}text-success{% elif summed_quantities.limit_exceeded %}text-danger{% endif %}">{{ summed_quantities.used }}</div>
                    {% endwith %}
                {% endif %}
                <div class="fs-1 mb-3">
                    <a class="text-decoration-none" href="{{ project.get_absolute_url }}?date={{ date_str }}{% if interval %}&interval={{ interval }}{% endif %}">{{ project.name }}</a>
                </div>
                <div class="text-muted">
                    {{ project.short_description }}
                    {% if project.has_interval or interval and interval != "none" %}
                       ({% interval_str date interval|default:project.interval %})
                    {% endif %}
                </div>
            </div>
            <div class="hstack-full gap-5" style="height: 3.5rem;">
                {% if project.nb_categories > 1 %}
                    <details class="no-marker as-dropdown focus-first-input with-backdrop" data-group="category_forms">
                        <summary class="hstack gap-3">
                            <span class="details-toggle">
                                <span class="btn btn-round btn-secondary details-toggle-open">
                                    {% icon "plus" "solid" size="xl" %}
                                </span>
                                <span class="btn btn-round btn-secondary details-toggle-close">
                                    {% icon "xmark" "solid" %}
                                </span>
                            </span>
                        </summary>
                        <div class="card details-dropdown large-details">
                            <div class="card-header hstack-full gap-3">
                                <span class="card-title">New quantity in project «{{ project.name }}»</span>
                                <button type="submit" form="create-quantity-form-in-project-{{ project.id }}" class="btn btn-primary hide-if-from-top">Add</button>
                            </div>
                            <div class="card-body">
                                {% quantity_in_project_form project=project %}
                                {% if project.quick_add_quantities %}
                                    <datalist id="project-{{ project.pk }}-quick_add_quantities">
                                        {% for qtt in project.quick_add_quantities_as_list %}
                                            <option value="{{ qtt }}">
                                        {% endfor %}
                                    </datalist>
                                {% endif %}
                            </div>
                            <div class="card-footer hstack justify-content-end">
                                <button type="submit" form="create-quantity-form-in-project-{{ project.id }}" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </details>
                    {% gauge project summed_quantities=project.summed_quantities|dict_value:project.root_category %}
                {% else %}
                    <span class="text-warning">Categories not configured yet</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="card vstack gap-5 p-5 justify-content-center align-items-center">
        <details class="no-marker as-dropdown focus-first-input with-backdrop" data-focus-first-input-in=".large-details > .card-body">
            <summary class="hstack gap-3">
                <span class="fs-1 text-decoration-none text-muted text-center">Add a project</span>
                <span class="details-toggle">
                    <span class="btn btn-round btn-secondary details-toggle-open">
                        {% icon "plus" "solid" size="xl" %}
                    </span>
                    <span class="btn btn-round btn-secondary details-toggle-close">
                        {% icon "xmark" "solid" %}
                    </span>
                </span>
            </summary>
            <div class="card details-dropdown large-details">
                <div class="card-header hstack-full gap-3">
                    <span class="card-title">New project</span>
                    <button type="submit" form="create-project-form" class="btn btn-primary hide-if-from-top">Create</button>
                </div>
                <div class="card-body">
                    {% project_form %}
                </div>
                <div class="card-footer hstack justify-content-end">
                    <button type="submit" form="create-project-form" class="btn btn-primary">Create</button>
                </div>
            </div>
        </details>
    </div>

</div>
