{% load core_utils %}
<div class="main-amount fs-2 text-muted m-3 d-flex flex-column justify-content-center {{ css_classes }}">
{% with interval=interval|default:project.interval %}

{% if project.reverse_mode %}
    <span class="text-center">{{ summed_quantities.used }} {{ project.quantity_name }}</span>
    <div class="small text-muted text-end pt-1">{% if interval == "none" %}(all time){% else %}this {% with interval=interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}</div>
{% elif current_category or interval == "none" and project.interval != "none" %}
    <span class="small">Used</span>
    <span class="text-center">{{ summed_quantities.used }} {{ project.quantity_name }}</span>
    <div class="small text-muted text-end pt-1">{% if interval == "none" %}(all time){% else %}this {% with interval=interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}</div>
{% elif project.has_interval and interval and interval|interval < project.interval|interval %}
    <span class="small">Used</span>
    <span class="text-center">{{ summed_quantities.used }} {{ project.quantity_name }}</span>
    <div class="small text-muted text-end pt-1">{% if interval == "none" %}(all time){% else %}this {% with interval=interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}</div>
{% elif not project.has_interval and interval and interval != "none" %}
    <span class="small">Used</span>
    <span class="text-center">{{ summed_quantities.used }} {{ project.quantity_name }}</span>
    <div class="small text-muted text-end pt-1">{% if interval == "none" %}(all time){% else %}this {% with interval=interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}</div>
{% else %}
    {% if summed_quantities.really_available >= 0 %}<span class="small">Left</span>{% else %}<span class="small text-danger">Excess</span>{% endif %}
    <span class="text-center">{{ summed_quantities.really_available }} {{ project.quantity_name }}</span>
    <div class="small text-muted text-end pt-1">
        / {{ summed_quantities.total_unexpected }}
        <details class="no-marker as-dropdown d-inline-block text-start" data-group="main-amount-info">
            <summary class="text-muted p-2" title="What are these numbers?">
                <span class="details-toggle">
                    {% icon "circle-question" classes="details-toggle-open" %}
                    {% icon "circle-xmark" classes="details-toggle-close" %}
                </span>
            </summary>
            <div class="details-dropdown bg-white top-100 mt--3">
                <div class="callout callout-info m-0">
                    <p class="mb-0">
                        <strong>{{ summed_quantities.total_unexpected }}</strong> is the {% if interval == "none" %}all time{% else %}{{ interval }}{% endif %} amount (<strong>{{ project.interval_quantity }}</strong>{% if interval != project.interval %} per {% with interval=project.interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}) minus the planned one (<strong>{{ summed_quantities.expected }}</strong>)
                    </p>
                    <p class="mb-0 mt-3">
                    {% if summed_quantities.total_unexpected != summed_quantities.really_available %}
                            <strong>{{ summed_quantities.really_available }}</strong> is the previous amount (<strong>{{ summed_quantities.total_unexpected }}</strong>) minus what was not planned (<strong>{{ summed_quantities.used_not_expected }}</strong>) and the excess over what was planned in some categories (<strong>{{ summed_quantities.unexpected }}</strong>)
                    {% else %}
                        No usage {% if interval == "none" %} (all time){% else %}during this {% with interval=interval|interval %}{{ interval.unit_name }}{% endwith %}{% endif %}
                    {% endif %}
                    </p>
                </div>
            </div>
        </details>
    </div>
{% endif %}
{% endwith %}
</div>
