{% extends "project_or_category_base.html" %}
{% load i18n sass_tags mptt_tags core_utils %}

{% block head_end %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src "core/scss/pages/project_or_category.scss" %}" />
{% endblock %}

{% block content %}

    {{ block.super }}

    {% with summed_quantities=project.summed_quantities %}
        <div id="main-categories" class="d-flex flex-wrap justify-content-center">

        {% for category in categories %}
            <div class="main-category-container">
                <div class="card main-category">
                    <div class="card-header h5 text-muted d-flex justify-content-between align-items-center gap-2">
                        <span class="text-truncate category-card-title">
                            <a href="{{ category.get_absolute_url }}?date={{ date_str }}&interval={{ interval }}">
                                {{ category.name }}
                            </a>
                        </span>
                        <details class="no-marker as-dropdown category-forms-container focus-first-input scroll-into-view" data-group="category_forms" data-scroll-into-view=".card">
                            <summary class="d-flex gap-3 align-items-center" title="Click to add a quantity, a sub-category or edit/delete this category">
                                <span class="details-toggle">
                                    {% icon "circle-plus" classes="details-toggle-open" %}
                                    {% icon "circle-xmark" classes="details-toggle-close" %}
                                </span>
                            </summary>
                            {% include "category_forms_include.html" with category=category next_category=current_category %}
                        </details>
                    </div>
                    <div class="card-body">
                        {% with summed=summed_quantities|dict_value:category %}
                            <div class="mb-2 fs-4 text-center">
                                {% if not summed.expected %}
                                    {{summed.used }}
                                {% else %}
                                    {% if summed.expected and not project.goal_mode and summed.used_not_expected %}
                                        {{summed.used }}
                                        <div class="fs-6">
                                    {% endif %}

                                    <div class="d-flex align-items-baseline justify-content-center">
                                        {% if not project.goal_mode and summed.used_not_expected %}
                                            {{ summed.used_not_expected }} +&nbsp;
                                            <span
                                                class="{% if summed.used|sub:summed.used_not_expected > summed.expected %}text-danger fw-bold{% endif %}"
                                            >{{ summed.used|sub:summed.used_not_expected }}</span>
                                        {% else %}
                                            <span
                                                class="{% if project.goal_mode and summed.used >= summed.expected %}text-success fw-bold{% elif not project.goal_mode and summed.used > summed.expected %}text-danger fw-bold{% endif %}"
                                            >{{summed.used }}</span>
                                        {% endif %}
                                        <span class="text-muted small align-self-center ms-2">/</span>
                                        <span class="text-muted small">{{ summed.expected }}</span>
                                    </div>

                                    {% if summed.expected and not project.goal_mode and summed.used_not_expected %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endwith %}
                        {% include "subcategoy_details.html" with category=category is_parent_category=True %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if current_category %}
            {% with summed=summed_quantities|dict_value:category %}
                {% if current_category.has_children %}
                    {% if summed.self_used or summed.self_exptected %}
                        {% if summed.self_used != summed.used or summed.self_expected != summed.expected %}
                            <div class="main-category-container">
                                <div class="card main-category">
                                    <div class="card-header h5 text-muted d-flex justify-content-between align-items-center gap-2">
                                        <span class="text-truncate category-card-title text-muted">
                                            (Not categorized)
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-end d-flex align-items-baseline fs-4 justify-content-center mb-2">
                                            {{summed.self_used }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% endif %}

        <div class="main-category-container">
            <div class="card main-category">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="category-card-title">
                        <details class="no-marker as-dropdown category-forms-container focus-first-input scroll-into-view" data-group="category_forms" data-scroll-into-view=".card-body">
                            <summary class="text-muted d-flex align-item align-items-center gap-2">
                                Add a category
                                <span class="details-toggle">
                                    {% icon "circle-plus" classes="details-toggle-open" %}
                                    {% icon "circle-xmark" classes="details-toggle-close" %}
                                </span>
                            </summary>
                            <div class="card details-dropdown category-forms fs-6 fw-normal">
                                <div class="card-body">
                                    {% if category %}
                                        {% category_form project=project parent_category=category next_category=category %}
                                    {% else %}
                                        {% category_form project=project %}
                                    {% endif %}
                                </div>
                            </div>
                        </details>
                    </h5>
                </div>
            </div>
        </div>

        </div>
    {% endwith %}

    {% if project.quick_add_quantities %}
        <datalist id="project-{{ project.pk }}-quick_add_quantities">
            {% for qtt in project.quick_add_quantities_as_list %}
                <option value="{{ qtt }}">
            {% endfor %}
        </datalist>
    {% endif %}

    <a class="text-muted fs-2 bottom-0 end-0 position-fixed rounded-circle m-3 d-flex justify-content-center align-items-center" title="List/edit/delete entered quantities" id="manage-quantities-button" href="{{ main_object.get_quantities_url }}?date={{ date_str }}&interval={{ interval }}">
        {% icon "square-list" classes="fa-fw" %}
    </a>

{% endblock %}
