{% load core_utils %}
<ul class="amounts-details list-group {{ css_classes }}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Used
        <span class="">{{ summed_quantities.used }}</span>
    </li>
    {% if summed_quantities.expected and summed_quantities.used %}
        <li title="{{ project.quantity_name|capfirst }} used not planned" class="list-group-item d-flex justify-content-between align-items-center">
            &nbsp;&nbsp;&nbsp;&#8226; not planned
            <span class="">{{ summed_quantities.used_not_expected }}</span>
        </li>
    {% endif %}
    {% if current_project and not current_category %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="{% if summed_quantities.available < 0 %}text-decoration-line-through{% endif %}">Available</span>
            <span class="{% if summed_quantities.available < 0 %}text-danger{% endif %}">{{ summed_quantities.available }}</span>
        </li>
    {% endif %}
    {% if summed_quantities.expected %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Planned
            <span class="">{{ summed_quantities.expected }}</span>
        </li>
        {% if summed_quantities.expected_not_used %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                &nbsp;&nbsp;&nbsp;&#8226; not used
                {% if summed_quantities.expected_not_used == summed_quantities.expected %}
                    <span title="Planned {{ project.quantity_name }} not used" class="text-success">
                        <span class="fa-layers fa-fw">
                            <i class="fa-regular fa-rectangle-vertical"></i>
                            <i class="fa-solid fa-minus" data-fa-transform="shrink-4 down-6"></i>
                        </span>
                        {{ summed_quantities.expected_not_used }}
                    </span>
                {% else %}
                    <span title="Planned {{ project.quantity_name }} not used" class="text-success">
                        <span class="fa-layers fa-fw">
                            <i class="fa-regular fa-rectangle-vertical"></i>
                            <i class="fa-solid fa-rectangle" data-fa-transform="shrink-5 down-4"></i>
                        </span>
                        {{ summed_quantities.expected_not_used }}
                    </span>
                {% endif %}
            </li>
        {% endif %}
        {% if summed_quantities.unexpected %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                &nbsp;&nbsp;&nbsp;&#8226; excess
                <span title="{{ project.quantity_name|capfirst }} used in excess over planned" class="text-danger">
                    {% icon "rectangle-vertical" "solid" classes="text-da" %}
                    {{ summed_quantities.unexpected }}
                </span>
            </li>
        {% endif %}
    {% endif %}
</ul>
