{% load core_utils %}

<div class="main-amount fs-2 text-muted m-3 d-flex flex-column gap-2 justify-content-center {{ css_classes }}">
    {% with interval=interval|default:project.interval %}

        {% if project.goal_mode %}
            {% if current_category %}
                {% if summed_quantities.expected and not summed_quantities.expected_not_used %}
                    <span class="small text-success">Goal reached</span>
                {% endif %}
            {% else %}
                {% if project.has_interval_quantity %}
                    {% if summed_quantities.available <= 0 %}
                        <span class="small text-success">Goal reached</span>
                    {% endif %}
                {% elif summed_quantities.expected %}
                    {% if summed_quantities.unexpected %}
                        <span class="small text-success">Goal reached</span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if current_category and summed_quantities.expected and summed_quantities.used >= summed_quantities.expected %}
                <span class="small text-danger">Excess</span>
            {% elif not current_category and summed_quantities.available <= 0 %}
                <span class="small text-danger">Excess</span>
            {% endif %}
        {% endif %}

        <span class="text-center main-amount-main">{{ summed_quantities.used }} {{ project.quantity_name }}</span>

        <div class="small text-muted text-end d-flex align-items-baseline justify-content-end gap-1">

            {% if summed_quantities.expected %}

                {% if project.goal_mode %}

                    {% if summed_quantities.used_not_expected %}
                        <span>{{ summed_quantities.used_not_expected }}</span>
                        <span>+</span>
                        <span class="{% if not summed_quantities.expected_not_used %}text-success fw-bold{% endif %}">{{ summed_quantities.used|sub:summed_quantities.used_not_expected }}</span>
                    {% endif %}

                    <span class="align-self-center">/</span>
                    {% if current_category %}
                        <span class="">{{ summed_quantities.expected }} expected</span>
                    {% elif project.has_interval_quantity %}
                        <span class="">{{ summed_quantities.interval_quantity }} expected</span>
                    {% else %}
                        <span class="">{{ summed_quantities.expected }} expected</span>
                    {% endif %}

                {% else %}

                    {% if summed_quantities.used_not_expected %}
                        <span>{{ summed_quantities.used_not_expected }}</span>
                        <span>+</span>
                        <span class="{% if summed_quantities.used|sub:summed_quantities.used_not_expected > summed_quantities.expected %}text-danger fw-bold{% endif %}">{{ summed_quantities.used|sub:summed_quantities.used_not_expected }}</span>
                    {% endif %}

                    <span class="align-self-center">/</span>
                    <span class="">{{ summed_quantities.expected }} planned</span>

                {% endif %}

            {% endif %}


            <span>{% if interval == "none" %}(all time){% else %}this {% with interval=interval|interval %}
                {{ interval.unit_name }}{% endwith %}{% endif %}</span>
        </div>

        {% if summed_quantities.really_available is not None %}
            {% if project.goal_mode %}
                <div class="small text-end fw-bold d-flex align-items-baseline justify-content-center gap-1 {% if summed_quantities.available >= 0 %}text-warning{% elif summed_quantities.available < 0 %}text-success{% else %}text-muted{% endif %}">
                    {% if summed_quantities.available < 0 %}
                        <span>Excess:</span>
                        <span>{{ summed_quantities.available|mul:-1 }}</span>
                    {% elif summed_quantities.available > 0 %}
                        <span>Left:</span>
                        <span>{{ summed_quantities.available }}</span>
                    {% endif %}
                </div>

            {% else %}

                {% if not project.goal_mode %}
                    <details
                            class="no-marker as-dropdown with-backdrop d-inline-block text-start fw-normal text-muted"
                            data-group="main-amount-info">
                        <summary class="text-muted" title="What are these numbers?">
                {% endif %}

                <div class="small text-end fw-bold d-flex align-items-baseline justify-content-center gap-1 {% if summed_quantities.really_available < 0 %}text-danger{% else %}text-muted{% endif %}">
                    {% if summed_quantities.really_available < 0 %}
                        <span>Excess:</span>
                    {% else %}
                        <span>Left:</span>
                    {% endif %}
                    <span>{{ summed_quantities.really_available }}</span>
                    <span class="align-self-center">/</span>
                    <span class="">{{ summed_quantities.total_unexpected }}</span>

                    {% if not project.goal_mode %}
                        <span class="details-toggle">
                            {% icon "circle-question" classes="details-toggle-open" %}
                            {% icon "circle-xmark" classes="details-toggle-close" %}
                        </span>
                    {% endif %}

                    <span>really available</span>
                </div>

                {% if not project.goal_mode %}
                        </summary>
                        <div class="small details-dropdown bg-white top-100 mt--3">
                            <div class="callout callout-info m-0">
                                <p class="mb-0">
                                    <strong>{{ summed_quantities.total_unexpected }}</strong> is the
                                    {% if interval == "none" %}all time{% else %}{{ interval }}{% endif %} amount
                                    (<strong>{{ project.interval_quantity }}</strong>
                                    {% if interval != project.interval %} per
                                        {% with interval=project.interval|interval %}{{ interval.unit_name }}
                                        {% endwith %}{% endif %}) minus the planned one
                                    (<strong>{{ summed_quantities.expected }}</strong>)
                                </p>
                                <p class="mb-0 mt-3">
                                    {% if summed_quantities.used %}
                                        <strong>{{ summed_quantities.really_available }}</strong> is the previous
                                        amount (<strong>{{ summed_quantities.total_unexpected }}</strong>) minus
                                        what was not planned (
                                        <strong>{{ summed_quantities.used_not_expected }}</strong>) and the excess
                                        over what was planned in some categories (
                                        <strong>{{ summed_quantities.unexpected }}</strong>)
                                    {% else %}
                                        No usage {% if interval == "none" %} (all time){% else %}during this
                                        {% with interval=interval|interval %}{{ interval.unit_name }}
                                        {% endwith %}{% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </details>
                {% endif %}

            {% endif %}
        {% endif %}

    {% endwith %}
</div>
