{% load core_utils crispy_forms_tags %}

<form class="d-flex flex-column" id="{% if form.instance.id %}edit-quantity-form-{{ form.instance.id }}{% else %}create-quantity-form-in-{% if category %}category-{{ category.id }}{% else %}project-{{ project.id }}{% endif %}{% endif %}" action="{% if form.instance.id %}{{ form.instance.get_edit_url }}{% elif category %}{{ category.get_add_quantity_url }}{% else %}{{ project.get_add_quantity_url }}{% endif %}?date={{ date_str }}&interval={{ interval }}{% if next %}&next={{ next }}{% endif %}{% if form.instance.id and not next_with_children %}&with-children=0{% endif %}" method="post">
    {% crispy form form.helper %}
</form>
