{% load core_utils crispy_forms_tags %}
{% include "bootstrap5/errors.html" %}
<form class="d-flex flex-column gap-2" action="{{ form.instance.get_delete_url }}?date={{ date_str }}&interval={{ interval }}{% if next %}&next={{ next }}{% endif %}{% if not next_with_children %}&with-children=0{% endif %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% include "bootstrap5/field.html" with wrapper_class="mb--3 d-flex align-items-center gap-2" form_show_labels=True %}
    {% endfor %}
    <button type="submit" class="btn btn-danger align-self-end">Delete quantity</button>
</form>
