{% extends "project_or_category_base.html" %}
{% load i18n mptt_tags sass_tags core_utils query_parameters %}
{% block head_end %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src "core/scss/pages/quantities.scss" %}" />
{% endblock %}

{% block project_content_container %}
    <div class="card card-plus d-flex flex-column limited-full-width quantities-list-container">

        <div class="card-header d-flex justify-content-between align-items-center">
            {% if current_category and current_category.has_children %}
                <a class="d-flex align-items-center" href="{{ request.path }}?date={{ date_str }}&interval={{ interval }}{% if with_children %}&with-children=0{% endif %}">
                    <span class="form-check form-switch position-relative mb-0">
                        <input class="form-check-input" type="checkbox" role="switch" id="include-sub-categories"{% if with_children %} checked{% endif %}>
                    </span>
                    Include sub-categories
                </a>
            {% else %}
                <span></span>
            {% endif %}

            <div class="text-end">
                <a href="{{ main_object.get_absolute_url }}?date={{ date_str }}&interval={{ interval }}">Back to {% if current_category %}category{% else %}project{% endif %}</a>
            </div>
        </div>

        {% if not page_obj %}
            <div class="card-body">
                <div class="callout callout-info mt-0">
                    Nothing entered for this period.
                </div>
            </div>
        {% else %}

            <div class="card-body vstack gap-4">
                {% for quantity in page_obj %}
                    <div class="hstack-full gap-3">
                        <div class="vstack gap-1">
                            <div>
                                {% if quantity.category.in_between_ancestors %}
                                    {% for ancestor in quantity.category.in_between_ancestors %}
                                        <a href="{{ ancestor.get_quantities_url }}?date={{ date_str }}&interval={{ interval }}">{{ ancestor.name }}</a>
                                        <span class="small text-muted">{% icon_xs "chevron-right" "solid" %}</span>
                                    {% endfor %}
                                {% endif %}
                                <a href="{{ quantity.category.get_quantities_url }}?date={{ date_str }}&interval={{ interval }}">{{ quantity.category.name }}</a>
                            </div>
                            <span class="text-muted">{{ quantity.date_or_datetime }}</span>
                            {% if quantity.notes %}
                                <div class="text-muted">
                                    {% with notes_part=quantity.notes|text_as_title_and_rest %}
                                        {% if not notes_part.1 %}
                                            {{ notes_part.0 }}
                                        {% else %}
                                            <details>
                                                <summary>{{ notes_part.0 }}</summary>
                                                <div class="ms-3">{{ notes_part.1|linebreaks }}</div>
                                            </details>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% endif %}

                        </div>
                        <span class="text-center px-4 py-2 rounded-3 bg-white-5">
                            {{ quantity.value }}
                        </span>
                        <details class="no-marker as-dropdown focus-first-input with-backdrop" data-group="quantity-edit" data-focus-first-input-in=".large-details > .card-body">
                            <summary class="text-muted" title="Edit this quantity">
                                <span class="details-toggle">
                                    {% icon "pencil" "solid" classes="fa-fw details-toggle-open" %}
                                    {% icon "xmark" "solid" classes="fa-fw details-toggle-close" %}
                                </span>
                            </summary>
                            <div class="card details-dropdown large-details">
                                <div class="card-header hstack-full gap-3">
                                    <span class="card-title">Edit quantity</span>
                                    <div class="d-flex gap-4 align-items-baseline">
                                        <details class="no-marker as-dropdown with-backdrop">
                                            <summary class="text-warning text-decoration-underline">Delete…</summary>
                                            <div class="card details-dropdown details-on-right">
                                                <div class="card-body">
                                                    {% quantity_delete_form quantity=quantity next_category=current_category next_with_children=with_children %}
                                                </div>
                                            </div>
                                        </details>
                                        <button type="submit" form="edit-quantity-form-{{ quantity.id }}" class="btn btn-primary hide-if-from-top">Save</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% quantity_edit_form quantity=quantity next_category=current_category next_with_children=with_children %}
                                </div>
                                <div class="card-footer hstack justify-content-end">
                                    <button type="submit" form="edit-quantity-form-{{ quantity.id }}" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </details>
                    </div>
                {% endfor %}
            </div>

                {% if page_obj.paginator.num_pages > 1 %}
                    <div class="card-footer">
                        <div class="hstack justify-content-center gap">
                            {% for page_number in elided_pages %}
                                <span class="text-center py-2{% if page_number == page_obj.number %} px-4 rounded-3 bg-white-5{% elif page_number == page_obj.paginator.ELLIPSIS %}disabled{% else %} px-2{% endif %}">
                                {% if page_number == page_obj.paginator.ELLIPSIS %}
                                    <span class="">{{page_number}}</span>
                                {% else %}
                                    <a href="?{% set_query_parameters page=page_number %}" class="">
                                        {{page_number}}
                                    </a>
                                {% endif %}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="card-footer py-1"></div>
                {% endif %}
        {% endif %}

    </div>

{% endblock project_content_container %}
