{% load i18n core_utils %}
{% with children=category.get_children common_classes="d-flex justify-content-between align-items-center gap-2" %}
    {% if children %}
        <ul class="list-group list-group-flush mt-1">

            {% for sub_category in children %}
                {% with summed=summed_quantities|dict_value:sub_category %}
                    {% if sub_category.is_leaf_node %}
                        <li class="list-group-item sub-category-item {{ common_classes }} px-0">
                    {% else %}
                        <li class="list-group-item sub-category-item px-0">
                            <details class="sub-sub-categories scroll-into-view">
                                <summary class="{{ common_classes }} w-100 position-relative">
                                    <span class="details-toggle">
                                        <span class="details-toggle-open">+</span>
                                        <span class="details-toggle-close">-</span>
                                    </span>
                    {% endif %}
                    <span class="flex-grow-1 flex-shrink-1 text-truncate">
                        {{ sub_category.name }}
                    </span>
                    <details class="no-marker as-dropdown category-forms-container focus-first-input scroll-into-view flex-shrink-0" data-group="category_forms" data-scroll-into-view=".card" style="--category-visible-level:{% with current_category_level=current_category.level|default:0 %}{{ sub_category.level|sub:current_category_level|sub:2 }}{% endwith %}">
                        <summary class="d-flex gap-3 align-items-center" title="Click to add a quantity, a sub-category or edit/delete this category">
                            <span class="text-end d-flex align-items-baseline justify-content-end">
                                {% with summed=summed_quantities|dict_value:sub_category %}
                                    {% if summed.expected %}
                                        <span class="{% if summed.used > summed.expected %}{% if project.goal_mode %}text-success{% else %}text-danger{% endif %} fw-bold{% endif %}">{{summed.used }}</span><span class="text-muted small align-self-center ms-1">/</span><span class="text-muted small">{{ summed.expected }}</span>
                                    {% else %}
                                        {{summed.used }}
                                    {% endif %}
                                {% endwith %}
                            </span>
                            <span class="details-toggle">
                                {% icon "circle-plus" classes="details-toggle-open" %}
                                {% icon "circle-xmark" classes="details-toggle-close" %}
                            </span>
                        </summary>
                        {% include "category_forms_include.html" with category=sub_category next_category=current_category self_expected_not_used=summed_quantities|dict_value:sub_category|dict_value:"self_expected_not_used" %}
                    </details>
                    {% if not sub_category.is_leaf_node %}
                                </summary>
                                {% include "subcategoy_details.html" with category=sub_category %}
                            </details>
                    {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}

            {% if is_parent_category %}
                {% with summed=summed_quantities|dict_value:category %}
                    {% if category.has_children %}
                        {% if summed.self_used or summed.self_exptected %}
                            {% if summed.self_used != summed.used or summed.self_expected != summed.expected %}
                                <li class="list-group-item sub-category-item {{ common_classes }} px-0">
                                    <span class="flex-grow-1 flex-shrink-1 text-truncate fst-italic text-muted">
                                        (Not categorized)
                                    </span>
                                    <span class="text-end d-flex align-items-baseline justify-content-end">
                                            {{summed.self_used }}
                                    </span>
                                    <span class="invisible ms-2">{% icon "circle-plus" %}</span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endwith %}
            {% endif %}

        </ul>
    {% endif %}
{% endwith %}
